{% render 'partials/header.liquid' %}

<main>
  <h1>Instrument innemen</h1>
  <p>Hier komt later een formulier of knop om een instrument in te nemen.</p>

  <a href="/instrument">Terug naar instrument</a>
</main>

{% render 'partials/footer.liquid'%}
