{% render 'partials/header.liquid' %}

<main>
  <h1>Instrument toevoegen</h1>
  <p>Hier komt later een formulier om een instrument toe te voegen.</p>

  <a href="/">Terug naar home</a>
</main>

{% render 'partials/footer.liquid'%}
