{% render 'partials/header.liquid' %}

<main>
  <h1>Instrument uitlenen</h1>
  <p>Hier komt later een formulier of knop om een instrument uit te lenen.</p>

  <a href="/instrument">Terug naar instrument</a>
</main>

{% render 'partials/footer.liquid'%}
